.education-container{
    display: flex;
    margin: 5rem 20%;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5rem;
    min-height: calc(100vh - 90px); /*whole screen height - navbar height*/
}

.ed-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 20rem;
    min-width: 10rem;
    border-left: 0.3rem solid;
}


.ed-nav li {
    cursor: pointer;
    margin-left: -0.3rem;
    padding-left: 1rem;
    position: relative;
}

.highligh{
    inset: 0;
    position: absolute;
    border-left: 0.3rem solid #6C63FF;
    z-index: 1;
}

.ed-details{
    display: flex;
    justify-content: flex-start;
    gap: 10%;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.ed-desc{
    max-width: 30rem;
}

.ed-desc p{
    margin: 2rem 0;
}

.ed-desc h1{
    color: #6C63FF;
}

.education-container a{
    margin-right: 2rem;
}

@media screen and (max-width: 780px){
    .education-container{
        flex-direction: column;
        margin: 5rem 5%;
        justify-content: space-evenly;
}

    .ed-nav {
        max-width: 100%;
    }

    .ed-nav ul {
        flex-direction: row;
        justify-content: flex-start;
        overflow-x: scroll;
        max-width: 100%;
        height: auto;
        gap: 1.5rem;
        border-left: none;
        align-items: flex-end;
        border-bottom: 0.3 solid #000;
    }

    .ed-nav li{
        padding-left: 0;
        min-width: 15rem;
        padding: 0.5rem;
        padding-bottom: 1rem;
    }

    .highligh{
        z-index: -1;
        border-bottom: 0.3rem solid #6C63FF;
        border-left: none;
    }
}