.loader-container{
    display: grid;
    place-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.loader{
    width: 10rem;
}

.loader svg {
    max-width: 100%;
    height: auto;
}

#logo path:nth-child(1) {
    stroke-dasharray:1227;
    stroke-dashoffset: 1227;
    animation: line-anim 2s ease forwards 0.8s, fill 0.5s linear forwards 2.8s;
}

#logo path:nth-child(2) {
    stroke-dasharray:1690;
    stroke-dashoffset: 1690;
    animation: line-anim 2s ease forwards 0.5s;
}

@keyframes line-anim {
    to{
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from{
        fill: transparent
    }to{
        fill: black
    }
}