.footer-container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 100%;
}

.footer-container h5{
    font-weight: 900;
    min-width: 10rem;
}

.footer-message{
    grid-column: 2;
    display: flex;
    justify-content: center;
}

.footer-margin{
    margin: 0 2rem;
    margin-top: 1rem;
    padding: 1rem 0;
}

.langbtn,
.themebtn{
    cursor: pointer;
}


.btn-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-right: 1rem;
}