@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

button {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
    width: 10.35px;       /* width of the entire scrollbar */
}

body::-webkit-scrollbar-thumb {
    background-color: #2f2f2f;    /* color of the scroll thumb */
    border-radius: 6px;       /* roundness of the scroll thumb */
}