@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,input[type="text"] {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: /*#0A192F*/ #fff;
}


button {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*Scrollbar*/

body::-webkit-scrollbar {
    width: 10.35px;       /* width of the entire scrollbar */
    background-color: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #2f2f2f;    /* color of the scroll thumb */
    border-radius: 6px;       /* roundness of the scroll thumb */
}


.main-button-out{
    padding: 0.5rem 1rem;
    background: none;
    border: 2px solid #000;
    border-radius: 12px;
    font-size: clamp(0.75em, 4vw ,1.5em);
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.main-button-fill{
    padding: 0.5rem 1rem;
    background: none;
    border: none;
    border-radius: 12px;
    font-size: clamp(0.75em, 4vw ,1.5em);
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background-color: #000;
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-body{
    background-color: #0A192F;
}

.light-body{
    background-color: #fff;
}

.light-color{
    color: #000;
}

.dark-color{
    color: #fff;
}

.light-fill{
    background-color: #000;
    color: #fff;
}

.dark-fill{
    background-color: #fff;
    color: #000;
}

.light-out{
    color: #000;
    border: #000 solid 2px;
}

.dark-out{
    color: #fff;
    border: #fff solid 2px;
}