.main-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0em 2em;
    min-height: calc(100vh - 90px); /*whole screen height - navbar height*/
}


.main-intro-container{
    max-width: 36em;
    margin: 1rem;
}

.main-intro-container h1 {
    font-size: clamp(2em, 3vw ,3em);
    margin: 0.5em 0em;
    min-width: 16rem;
}

.main-intro-container h2 {
    font-size: clamp(1.5em, 2.5vw ,2em);
    color: #6C63FF;
    margin: 0.5em 0em;
    min-width: 16rem;
}

.main-intro-container h5 {
    font-size: clamp(0.65em, 4vw ,1.3em);
    min-width: 16rem;
    font-weight: 500;
}

.main-intro-container p {
    font-size: clamp(0.6em, 4vw ,1.2em);
    margin: 0.75em 0em;
    min-width: 16rem;
}

.main-im-container {
    max-width: 36em;
    margin: 1rem;
}

.main-im-container svg{
    width: 100%;
    min-width: 20em;
    height: auto;
    object-fit: cover;
}

.main-button-container{
    display: flex;
    gap: 1rem;
    margin-top: 3.5rem;
}

.hello-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}




@media screen and (max-width:940px){
    .main-container{
        flex-direction: column-reverse;
        height: 100%;
    }

    .main-im-container {
        max-width: 400px;
    }

}

/*mobile*/
@media screen and (max-width: 480px){
    .main-container{
        margin: 0em 1em;
        gap: 1rem;
    }
}