.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-left: 5%;
    margin-right: 5%;
    gap: 5rem 0rem;
    min-height: calc(100vh - 90px); /*whole screen height - navbar height*/
}

.work-item{
    display: flex;
    max-width: 70rem;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    gap: 1rem;
}

.work-item-im{
    width: max(50%,70%);
    height: auto;
    border-radius: 12px;
    border: 2px solid #000;
}

.work-item-description{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: .5rem 0;
}

.work-item-right-desc{
    padding: 1rem;
    border-radius: 12px;
    box-shadow: -0.2rem 0.2rem rgb(59, 59, 59);
}

.light-work-item{
    background-color: #000;
    color: #fff;
}

.dark-work-item{
    background-color: #0d213d;
}

.work-item:nth-child(even) .work-item-description{
    align-items: flex-start;
}

.work-item:nth-child(even){
    flex-direction: row-reverse;
}

.work-item:nth-child(even) .work-item-right-desc{
    margin-right: -5rem;
    box-shadow: -0.2rem 0.2rem rgb(59, 59, 59);
}

.work-item:nth-child(odd) .work-item-right-desc{
    margin-left: -5rem;
}

.project-type{
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.work-item:nth-child(even) .project-type{
    flex-direction: row-reverse;
}

.nav-link{
    text-decoration: none;
    color: inherit;
}

.filter-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 5%;
    margin-right: 5%;
}


.filter{
    display: flex;
    gap: 4rem;
    max-width: 70rem;
    align-items: center;
    width: 100%;
}

.filter select {
    padding: 0.5rem;
    border-radius: 10px;
    border: 2px solid;
    font-family: 'Roboto';
    font-weight: 600;
    cursor: pointer;
}

.filter-btn-light {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: 600;
}

.filter-btn-dark {
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: 600;
}

.selected-btn-light{
    background-color: #000;
    color: #fff;
}

.selected-btn-dark{
    background-color: #fff;
    color: #000;
}

.projtype{
    display: flex;
    gap: 1rem;
}





/*break up*/
@media screen and (max-width: 745px){

    .work-container{
        margin: 5%;
    }

    .work-item{
        flex-direction: column;
        max-width: 100%;
        margin: 0;
    }

    .work-item-description{
        background-color: #000;
        color: #fff;
        padding: 1rem;
        border-radius: 12px;
        box-shadow: 0.2rem 0.2rem rgb(59, 59, 59);
        max-width: 25rem;
        margin-top: -4rem;
        align-items: flex-start;
        max-width: 25rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .dark-work-item-desc {
        background-color: #0d213d;
    }

    .work-item-im{
        height: auto;
        width: 100%;
    }

    .work-item svg path {
        fill: white;
    }

    .work-item:nth-child(odd) .work-item-right-desc{
        background-color: transparent;
        box-shadow: none;
        margin:auto;
    }

    .work-item .main-button-fill{
        background-color: #fff;
        color: #000;
    }

    .work-item:nth-child(even){
        flex-direction: column;
    }

    .work-item:nth-child(even) .work-item-right-desc{
        background-color: transparent;
        box-shadow: none;
        margin:auto;
    }

    .work-item:nth-child(even) .work-item-right-desc{
        flex-direction: row-reverse;
    }

    .work-item:nth-child(even) .project-type{
        flex-direction: row;
    }

}

@media screen and (max-width: 500px){
    .filter{
        flex-direction: column;
        align-items: flex-start;
    }
}




